* {
  box-sizing: border-box;
}
html,
body {
  font-family: "PingFang SC", -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Source Han Sans",
    "Noto Sans CJK Sc", "Microsoft YaHei", "Microsoft Jhenghei", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: #24292e;
  min-width: 900px;
}

@media screen and (max-width: 900px) {
  .container {
    overflow-x: auto;
  }
}

p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li {
  line-height: 1.45;
}

a {
  color: #363636;
  font-weight: 600;
}

header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f6f6f6;
  border-radius: 0.25em;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Button */
.button.is-danger {
  background-color: #ff0049;
}

.button.is-danger.is-outlined {
  position: relative;
  overflow: hidden;
  color: #ff0049;
  border: 1px dashed #ff0049;
  transition: all 0.2s ease, border 1ms ease;
  will-change: transform;
  transform: scale(0.999);
  z-index: 1;
}

.button.is-danger.is-outlined:hover {
  color: #ffffff;
  background: transparent;
  border-color: transparent;
}

.button.is-danger.is-outlined:before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #ff0049;
  transition: all 0.2s ease;
  will-change: transform;
  color: transparent;
  z-index: -1;
}

.button.is-medium::before {
  width: 44px;
  left: -44px;
}

.button::before {
  width: 35px;
  left: -35px;
}

.button.is-rounded::before {
  border-radius: 290486px;
}

.button:hover::before {
  left: 0;
  width: 100%;
}

/* Nav */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(38, 38, 38);
}

.navbar.is-shadowed {
  box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.5);
}

a.navbar-item {
  font-weight: 400;
  color: #ffffff;
}

.navbar-burger span {
  color: #ffffff;
}

.navbar-brand .navbar-item {
  position: relative;
  display: inline-block;
  width: 144px;
  height: 52px;
  left: 15px;
}

.navbar-brand {
  background-image: url(/static/img/logo.png);
  background-repeat: no-repeat;
  background-size: 144px 34px;
  background-position: left 15px center;
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: rgb(38, 38, 38);
  }

  .navbar-brand {
    padding: 8px 0;
  }

  a.navbar-item.is-active,
  a.navbar-item:hover,
  a.navbar-item:focus {
    background-color: #ff0049;
    color: #ffffff;
  }

  .navbar-link:not(.is-arrowless)::after {
    border-color: #ff0049;
  }
}

@media screen and (min-width: 1024px) {
  .navbar.is-spaced {
    padding: 0.5rem 2rem;
  }

  .navbar-brand {
    width: 144px;
    height: 34px;
    margin-right: 36px;
    background-position: center;
  }

  .navbar-brand .navbar-item {
    left: 0;
  }

  a.navbar-item {
    display: block;
    text-align: center;
    background: transparent;
    padding: 8px 20px;
    transition: all 0s;
  }

  a.navbar-item.is-active::after {
    position: absolute;
    content: "";
    display: block;
    margin-top: 4px;
    margin-left: -20px;
    width: 100%;
    height: 5px;
    background-color: #ff0049;
    border-radius: 2.5px;
  }

  a.navbar-item::before {
    display: block;
    content: attr(data-content);
    font-weight: 500;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .navbar-start > a.navbar-item:active,
  .navbar-start > a.navbar-item:visited,
  .navbar-start > a.navbar-item:hover,
  .navbar-start > a.navbar-item:focus,
  .navbar-start > a.navbar-item.is-active,
  .navbar-end > a.navbar-item:active,
  .navbar-end > a.navbar-item:visited,
  .navbar-end > a.navbar-item:hover,
  .navbar-end > a.navbar-item:focus,
  .navbar-end > a.navbar-item.is-active {
    color: #ffffff;
    background-color: transparent;
    font-weight: 500;
    outline: none;
  }

  .navbar-link {
    color: #ffffff;
  }

  .navbar-link:not(.is-arrowless)::after {
    border-color: #ffffff;
  }

  .navbar-item.has-dropdown:hover .navbar-link {
    color: #ffffff;
    background-color: transparent;
  }

  .navbar-dropdown a.navbar-item {
    color: #4a4a4a !important;
  }
}

/* Footer */
.footer {
  background-color: #010101;
  height: 312px;
  padding-bottom: 30px;
  background-image: url(/static/img/dot-background.png);
  background-size: 1920px 312px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Content */
.content .header-anchor {
  visibility: hidden;
}

.content h1:hover .header-anchor,
.content h1:focus .header-anchor,
.content h2:hover .header-anchor,
.content h2:focus .header-anchor,
.content h3:hover .header-anchor,
.content h3:focus .header-anchor,
.content h4:hover .header-anchor,
.content h4:focus .header-anchor,
.content h5:hover .header-anchor,
.content h5:focus .header-anchor {
  visibility: visible;
}

.content .header-anchor::before {
  content: "#";
}

/* TOC */
.toc {
  padding: 14px;
}

.toc a {
  display: block;
  font-weight: 400;
  font-size: 1rem;
  color: #4a4a4a;
  border-radius: 2px;
  padding: 4px 10px;
}

.toc a:hover {
  color: #ff0049 !important;
}

.toc li {
  list-style-type: none;
}

.toc li.active > a {
  color: #ff0049 !important;
}

/* h1 */
.toc > ol > li > a {
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #7a7a7a !important;
}

.toc > ol > li:not(:first-child) > a {
  padding-top: 15px;
}

/* h2 ~ h4 */
.toc > ol > li ol {
  margin-left: 0.75em;
  padding-left: 0.75em;
}

/* h2 */
.toc > ol > li > ol > li > a {
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 1.3;
}

.toc > ol > li > ol > li:not(:first-child) {
  margin-top: 5px;
}

/* h3 ~ h4 */
.toc > ol > li > ol > li > ol a {
  color: #717171;
  line-height: 1.4;
}

/* h4 */
.toc > ol > li > ol > li > ol > li > ol {
  border-left: 1px solid #dbdbdb;
}

/* Home */
.tmpl-home {
  background-color: #010101;
}

.tmpl-home p {
  line-height: 1.5;
}

.tmpl-home .header {
  height: 471px;
  /* background-image: url(/static/img/header.png); */
  background-size: 1311px 1145px;
  background-position-x: center;
  background-position-y: -600px;
  background-repeat: no-repeat;
}

.tmpl-home .header-hero-jupiter {
  position: relative;
  width: 100%;
  height: 100%;
}

.header-hero-jupiter::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url(/static/img/jupiter.png);
  background-size: 2122px 920px;
  background-position-x: center;
  background-position-y: -320px;
}

.quick-start-img-container {
  position: relative;
}

.quick-start-img-tip {
  position: absolute;
  top: 40px;
  left: 70px;
  font-size: 30px;
}

.tmpl-home .quick-start {
  padding: 32px 0 106px;
  background-image: url(/static/img/grid-backgruond.png);
  background-size: 1280px 163px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}

.tmpl-docs {
  margin-top: 68px;
}

.tmpl-docs .content-container {
  position: relative;
  width: calc(100vw - 360px);
  padding-top: 10px;
  padding-bottom: 32px;
  left: 360px;
}

.tmpl-docs .content {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 960px;
  margin: auto;
}

.tmpl-docs .content h1,
.tmpl-docs .content h2,
.tmpl-docs .content h3,
.tmpl-docs .content h4 {
  margin-top: -5.75rem;
  padding-top: 7rem;
}

.tmpl-docs .menu {
  height: calc(100vh - 74px);
  width: 360px;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  top: 74px;
  border-right: 1px solid #efefef;
}

@media screen and (max-width: 1023px) {
  .tmpl-docs .menu {
    width: 30%;
    height: calc(100% - 53px);
    top: 53px;
  }

  .tmpl-docs .content-container {
    width: 70%;
    left: 30%;
  }
}

/* Plugin */
.tmpl-plugins {
  min-height: calc(100vh - 68px);
  position: relative;
  top: 68px;
}

.tmpl-plugins .container {
  padding-top: 25px;
}

@media screen and (max-width: 1023px) {
  .tmpl-plugins .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.tmpl-404 {
}
