<!doctype html>
<html lang="{{ locale }}" dir="{{ dir }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/static/css/bulma.css' | url }}">
    <link rel="stylesheet" href="{{ '/static/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/static/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <script src="https://kit.fontawesome.com/52f9bcef72.js" crossorigin="anonymous"></script>
    
    <script src="{{ '/static/js/language.js' }}"></script>
  </head>
  <body>
    <nav id="navbar" class="navbar is-spaced has-text-white{% if page.url.split('/').slice(2).join('/') == '' %} is-shadowed{% endif %}">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ '/' + locale + '/' | url }}" style="width: 144px; height: 34px"/>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-start">
          {%- for entry in collections.all | eleventyNavigation(locale) %}
            <a class="navbar-item{% if entry.url == page.url %} is-active{% endif %}" href="{{ entry.url | url }}" data-content="{{ entry.title }}">
              <span>{{ entry.title | i18n }}</span>
            </a>
          {%- endfor %}
          <a class="navbar-item" href="https://github.com/patractlabs/redspot" target="_blank" data-content="Github">
            <span>Github</span>
          </a>
        </div>

        <div class="navbar-end">
          {% include 'components/language-selector.njk' %}
        </div>
      </div>
    </nav>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    {% block footer %}{% endblock %}

    <script async defer src="{{ '/static/js/menu.js' }}"></script>
  </body>
</html>