---
layout: layouts/base.njk
templateClass: tmpl-docs
---

<aside class="menu sidebar-scroller">
  {{ content | toc | safe }}
</aside>
<section class="content-container">
  <div class="content">
    {{ content | safe }}
  </div>
</section>

